.row
  #map.span9
  #trucklist.span3
    = image_tag 'JaxTrucks.png', id: 'logo'
    - if trucks_out_right_now?
      %h4 Trucks out right now:
      #list.list-group
        :coffeescript
          require ['collections/truck_list'], (TruckList) ->
            window.app ?= {}
            app.trucks = new TruckList()
            app.trucks.reset #{current_trucks}
    - else
      %h4 There are no trucks out right now. :(

    - if trucks_coming_up?
      %h4 Later:
      #upcoming.list-group
        :coffeescript
          require ['collections/truck_list'], (TruckList) ->
            window.app ?= {}
            app.upcomingTrucks = new TruckList()
            app.upcomingTrucks.reset #{upcoming_trucks}
